<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' data: blob:; ">

    <style>
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        .toolbar {
            border: solid 1px;
            box-sizing: border-box;
            padding: 10px;
            background-color: #e2e2e2;
        }
        #myGrid{
            height: calc(100% - 40px);
        }
    </style>
</head>

<body>
<div class="toolbar">
    <button id="createFile">Add</button>
</div>
<div id="myGrid" class="ag-material">Loading</div>
</body>

</html>